/*https://coolors.co/palette/f0ead2-dde5b6-adc178-a98467-6c584c*/
body{
    display: flex;
    flex-direction: column;
}
header{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: #ADC178;
}
header div {
    color: #6C584C;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}
section{
    height: 500px;
    display: flex;
}
section div:nth-child(2){
    /*display: flex;*/
    /*flex-direction: column;*/
    /*flex-wrap: wrap;*/
}
#click-area{
    position: relative;
}

#click-area canvas{
    position: absolute;
}


section div:nth-child(2) div{
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    align-items: center;
    width: 100%;
}
